<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="EigerVertX" packages="">
	<Appenders>
		<RollingRandomAccessFile name="LogTrace" fileName="../logs/vertx.log" filePattern="../logs/$${date:yyyy-MM}/vertx-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="25 MB"/>
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Logger name="monitor" level="all">
            <AppenderRef ref="LogTrace" level="trace"/>
		</Logger>
	</Loggers>
</Configuration>
